body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.quiz_modal{
  min-height:100vh;
  min-width:100vw;
  z-index:1;
  position:fixed;
  top:0px;
  display:flex;
  justify-content: center;
  align-items:center;
}
.modal_container{
  max-width:400px;
  min-width:300px;
  border:1px solid lightgrey;
  padding:10px;
  margin:auto;
  border-radius:10px;
}